/**
 * Override style to match closer to VuePress theme
 */

/**
 * Update base font size
 * -------------------------------------------------------------------------- */
:root {
  --vp-font-size-base: 13px; /* Default is 16px, change as needed */
  --vp-code-font-size: 13px;
}

body {
  font-size: var(--vp-font-size-base);
  line-height: 15px;
}

.vp-doc {
  p {
    font-size: 14px;
    line-height: 22px;
  }

  pre {
    overflow: auto;
  }
}

:root {
  --vp-nav-bg-color: var(--vp-c-bg);
  --vp-sidebar-bg-color: var(--vp-c-bg);
}

/**
 * Update Header and Navigation widths to use full window widths
 * -------------------------------------------------------------------------- */

.VPNavBar {
  background-color: var(--vp-nav-bg-color);
  .container {
    max-width: 100%;
  }
}

.VPNavScreen {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 960px) {
  .VPNavBar.has-sidebar {
    .title {
      border-bottom-color: transparent;
      padding: 0 0 0 0 !important;
    }
  }
  .VPNavBarTitle.has-sidebar {
    .title {
      padding-left: 32px !important;
      border-bottom-color: transparent;
    }
  }
}

@media (min-width: 1440px) {
  /* Align the sidebar navigation and "On this page" to the edges */
  .VPContent.has-sidebar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .VPDoc {
    .container {
      padding-left: var(--vp-sidebar-width);
      .content-container {
        max-width: calc(
          var(--vp-layout-max-width) - var(--vp-sidebar-width) - 224px
        ) !important;
      }
    }
  }

  .VPSidebar {
    padding-left: 32px !important;
    width: auto !important;
  }

  .VPNavBar.has-sidebar {
    .content {
      padding-left: 0 !important;
      padding-right: 32px !important;
    }
  }
}

/**
 * Component: Code Block Titles
 * -------------------------------------------------------------------------- */
.vp-doc {
  .code-block {
    margin: 1em 0;
    border: 1px solid var(--vp-c-divider);
    border-radius: 6px;
    overflow: hidden;
  }

  .code-block-title {
    background-color: var(--vp-code-block-bg);
    padding: 1em 1em;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid var(--vp-c-divider);
    color: var(--vp-c-text-2);
  }

  .code-block-title + div[class*="language-"] {
    margin-top: 0;
    margin-bottom: 0;
  }
}
